<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="lisa_linux" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.20)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=lisa)))"/>
    <add name="lisa_bo" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.36)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=lisa)))"/>
    <add name="lisa_test" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.37)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=lisa)))"/>
  </connectionStrings>
</configuration>